* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --White: hsl(0, 0%, 100%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  width: 1920px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--White);
  position: fixed;
  z-index: 1;
}

body .container .navbar .nav-container {
  width: 70%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navbar .nav-container .mobile-menu {
  display: none;
}

body .container .navbar .nav-container .navlist {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

body .container .navbar .nav-container .navlist a {
  position: relative;
  color: var(--Grayish-Blue);
}

body .container .navbar .nav-container .navlist a:hover {
  color: var(--Dark-Blue);
}

body .container .navbar .nav-container .navlist a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -23px;
  width: 100%;
  height: 3px;
  background-color: var(--Lime-Green);
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

body .container .navbar .nav-container .nav-btn {
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #fff;
  font-weight: bold;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
}

body .container .navbar .nav-container .nav-btn:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: -webkit-gradient(linear, left top, right top, from(#5bdc7d), to(#ade3f0));
  background: linear-gradient(90deg, #5bdc7d, #ade3f0);
}

body .container .header {
  background-color: var(--Very-Light-Gray);
  width: 100%;
  height: 850px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .header-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .header-container .header-text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

body .container .header .header-container .header-text h2 {
  font-size: 60px;
  font-weight: 400;
}

body .container .header .header-container .header-text p {
  font-weight: 100;
  color: var(--Grayish-Blue);
}

body .container .header .header-container .header-text .header-btn {
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #fff;
  font-weight: bold;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
}

body .container .header .header-container .header-text .header-btn:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: -webkit-gradient(linear, left top, right top, from(#5bdc7d), to(#ade3f0));
  background: linear-gradient(90deg, #5bdc7d, #ade3f0);
}

body .container .header .header-container .header-intro-img {
  width: 60%;
  position: relative;
  left: 30px;
}

body .container .header .header-container .header-intro-img img {
  width: 1350px;
}

body .container .header .header-container .header-intro-img .header-intro-phones {
  top: -25px;
  left: 230px;
  position: absolute;
}

body .container .header .header-container .header-intro-img .header-intro-phones img {
  width: 1000px;
}

body .container .header .header-container .header-intro-img-mobile {
  display: none;
}

body .container .section-one {
  background-color: var(--Light-Grayish-Blue);
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .section-one .section-one-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container .section-one .section-one-container .section-one-top h3 {
  font-size: 36px;
  font-weight: 400;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

body .container .section-one .section-one-container .section-one-top p {
  color: var(--Grayish-Blue);
  font-size: 22px;
  font-weight: 100;
}

body .container .section-one .section-one-container .section-one-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

body .container .section-one .section-one-container .section-one-bottom .section-one-bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}

body .container .section-one .section-one-container .section-one-bottom .section-one-bottom-box img {
  width: 100px;
  height: 100px;
}

body .container .section-one .section-one-container .section-one-bottom .section-one-bottom-box h3 {
  font-size: 24px;
  color: var(--Dark-Blue);
  font-weight: 500;
}

body .container .section-one .section-one-container .section-one-bottom .section-one-bottom-box p {
  color: var(--Grayish-Blue);
  line-height: 24px;
  font-weight: 100;
}

body .container .section-two {
  background-color: var(--Very-Light-Gray);
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .section-two .section-two-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container .section-two .section-two-container h2 {
  font-weight: 300;
  font-size: 44px;
}

body .container .section-two .section-two-container .section-two-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .section-two .section-two-container .section-two-cards .section-two-card {
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .section-two .section-two-container .section-two-cards .section-two-card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 15px;
}

body .container .section-two .section-two-container .section-two-cards .section-two-card .card-text .card-name {
  font-size: 16px;
  font-weight: 100;
  color: var(--Grayish-Blue);
}

body .container .section-two .section-two-container .section-two-cards .section-two-card .card-text .card-title {
  font-size: 20px;
}

body .container .section-two .section-two-container .section-two-cards .section-two-card .card-text .card-title:hover {
  color: var(--Lime-Green);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

body .container .section-two .section-two-container .section-two-cards .section-two-card .card-text .card-main-text {
  color: var(--Grayish-Blue);
  font-size: 16px;
}

body .container .section-two .section-two-container .section-two-cards .section-two-card img {
  width: 100%;
  height: 200px;
}

body .container .footer {
  background-color: var(--Dark-Blue);
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .footer .footer-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .footer .footer-container .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

body .container .footer .footer-container .footer-logos img {
  color: #fff;
  cursor: pointer;
}

body .container .footer .footer-container .footer-logos .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

body .container .footer .footer-container .footer-logos .footer-social svg {
  cursor: pointer;
}

body .container .footer .footer-container .footer-logos .footer-social svg path:hover {
  fill: var(--Lime-Green);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

body .container .footer .footer-container .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

body .container .footer .footer-container .footer-menu a {
  color: var(--Grayish-Blue);
  text-decoration: none;
}

body .container .footer .footer-container .footer-menu a:hover {
  color: var(--Lime-Green);
  -webkit-transition: .3s;
  transition: .3s;
}

body .container .footer .footer-container .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

body .container .footer .footer-container .footer-reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 40px;
}

body .container .footer .footer-container .footer-reserved button {
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #fff;
  font-weight: bold;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
}

body .container .footer .footer-container .footer-reserved button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: -webkit-gradient(linear, left top, right top, from(#5bdc7d), to(#ade3f0));
  background: linear-gradient(90deg, #5bdc7d, #ade3f0);
}

body .container .footer .footer-container .footer-reserved p {
  color: #fff;
}

@media (width: 375px) {
  body .container {
    width: 375px;
    overflow: hidden;
  }
  body .container .navbar .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  body .container .navbar .nav-container .mobile-menu {
    display: inline;
    cursor: pointer;
  }
  body .container .navbar .nav-container .mobile-menu img {
    width: 30px;
  }
  body .container .navbar .nav-container .navlist {
    display: none;
  }
  body .container .navbar .nav-container .nav-btn {
    display: none;
  }
  body .container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border: 1px solid green;
    overflow: hidden;
  }
  body .container .header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border: 1px solid blue;
    overflow: hidden;
    width: 100%;
  }
  body .container .header .header-container .header-intro-img {
    display: none;
  }
  body .container .header .header-container .header-intro-img-mobile {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: inline;
    position: relative;
  }
  body .container .header .header-container .header-intro-img-mobile img {
    width: 375px;
    height: 400px;
  }
  body .container .header .header-container .header-intro-img-mobile .header-intro-phones-mobile {
    position: absolute;
    border: 1px solid yellow;
  }
  body .container .header .header-container .header-intro-img-mobile .header-intro-phones-mobile img {
    width: 350px;
    height: 420px;
  }
}
/*# sourceMappingURL=style.css.map */